@font-face {
  font-family: "Grand9K Pixel";
  src: url("fonts/Grand9K Pixel.ttf");
}

body {
  background: black;
  color: #e0e0e0;
  font-family: "Grand9K Pixel", monospace;
  margin: 0;
  width: 800px;
}


button {
  background: black;
  border: 4px solid #e0e0e0;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-size: 24px;
  width: 100%;
}

button:hover {
  background: #303030;
}

h1, h2 {
  text-align: center;
}
